venv
*.pyc
.env
db.sqlite3
./django-bot/
/bot/static/images/
/bot/static/sentimentAnalysis
/static/
/staticfiles/sentimentAnalysis
/dialogflowbot/vsbotintents/
/dialogflowbot/seq2seq/data/
/dialogflowbot/generated_phrases/
/dialogflowbot/seq2seq/models/