{% extends 'base2.html' %}

{% block content %}
        <div class="box leftcenter">
            <div class="character-speach-bubble">
                <textarea cols="100" name="text" id="bubbleText" readonly>
                    {% for message in messages %}
                        {{  message.text  }}
                    {% endfor %}
                </textarea>
            </div>

            <div class = "speach-box">
                    <img src='/static/{{ gamer }}' alt="gamer" id="gamer">
                <form action={% url 'post_message' %} class="speech-bubble" method="post">
                    {% csrf_token %}
                    <textarea cols="100" name="text" id="bubbleText"></textarea>
                    <input type="submit" id="submit-button" align="left" value="Submit">
                </form>
            </div>

        </div>
        <img src='/static/{{ character }}' alt="character" id="character">
{% endblock %}