{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'stylesheets/styles.css' %}">
    <script src="{% static 'javascript/bot.js' %}"></script>  
    <title>{{ title }}</title>
</head>
<body>
    <div class="scroll" id="data">
    {% for message in messages %}
        {% if forloop.counter0|divisibleby:2 %} 
        <div class="container darker" >
            <p>{{  message.text }}</p>
            <span class="timeLeft">{{message.time}}</span>
        </div>
        {% endif %}

        {% if not forloop.counter0|divisibleby:2 %} 
            <div class="container" >
                <p>{{  message.text }}</p>
                <span class="timeLeft">{{message.time}}</span>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <form action="post/message" class = "center" method="post">
        {% csrf_token %}
        Message: 
        <textarea cols="100" name="text"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>