{% load staticfiles %}
<html>
<head>
    <link rel="icon" href="{% static '/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/styles.css' %}">
    <script src="{% static 'javascript/bot.js' %}"></script>  
    <title>{{ title }}</title>
</head>
<body id="bg" style="background:url('/static/{{ background }}')";>
    <div class="box leftcenter">

    <div class="character-speach-bubble">
            <textarea cols="100" name="text" id="bubbleText" readonly>
            {% for message in messages %}
                {{  message.text }}
            {% endfor %}
            </textarea>
    </div>

    <div class = "speach-box">
        <img src='/static/{{ gamer }}' alt="gamer" id="gamer">

        <form action="post/message" class="speech-bubble" method="post">
                {% csrf_token %}
                <textarea cols="100" name="text" id="bubbleText"></textarea>
                <input type="submit" id="submit-button" align="left" value="Submit">
        </form>
    </div>

    </div>
    <!--
   
-->
    <img src='/static/{{ character }}' alt="character" id="character">
</body>
</html>